body {
  font-family: Arial, sans-serif;
  background-color: #2E4053; /* Azul oscuro */
}

header {
  background-color: #FF8C00; /* Naranja oscuro */
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

main {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #3E8E41; /* Verde oscuro */
  border: 1px solid #2E865F; /* Verde más oscuro */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

#juego {
  text-align: center;
}

#pregunta {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff; /* Blanco */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#respuestas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#respuestas button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: #3498DB; /* Azul */
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
}

#respuestas button:hover {
  background-color: #2980B9; /* Azul más oscuro */
  transform: scale(1.1);
}

#reiniciar {
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: #FFA07A; /* Naranja */
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
}

#reiniciar:hover {
  background-color: #FF8C00; /* Naranja oscuro */
  transform: scale(1.1);
}

#resultado {
  font-size: 24px;
  margin-top: 20px;
  color: #fff; /* Blanco */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#puntos {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #FFA07A; /* Naranja */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilos responsivos */
@media (max-width: 768px) {
  main {
    margin: 20px auto;
    padding: 10px;
  }
  #pregunta {
    font-size: 18px;
  }
  #respuestas button {
    font-size: 16px;
    padding: 5px 10px;
  }
  #reiniciar {
    font-size: 16px;
    padding: 5px 10px;
  }
}

@media (max-width: 480px) {
  main {
    margin: 10px auto;
    padding: 5px;
  }
  #pregunta {
    font-size: 16px;
  }
  #respuestas button {
    font-size: 14px;
    padding: 5px;
  }
  #reiniciar {
    font-size: 14px;
    padding: 5px;
  }
}

